<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{order.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 th:text="#{order.list.headline}" class="grow text-3xl md:text-4xl font-medium mb-2" />
                <div>
                    <a th:href="@{/orders/add}" th:text="#{order.list.createNew}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='order')}" />
            <div th:if="${orders.empty}" th:text="#{order.list.empty}" />
            <div th:if="${!orders.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th th:text="#{order.id.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.sessionId.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.subtotal.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.itemDiscount.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.discount.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.tax.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.shipping.label}" scope="col" class="text-left p-2" />
                            <th th:text="#{order.total.label}" scope="col" class="text-left p-2" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="order : ${orders}" class="odd:bg-gray-100">
                            <td th:text="${order.id}" class="p-2" />
                            <td th:text="${order.sessionId}" class="p-2" />
                            <td th:text="${order.subtotal}" class="p-2" />
                            <td th:text="${order.itemDiscount}" class="p-2" />
                            <td th:text="${order.discount}" class="p-2" />
                            <td th:text="${order.tax}" class="p-2" />
                            <td th:text="${order.shipping}" class="p-2" />
                            <td th:text="${order.total}" class="p-2" />
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/orders/edit/{id}(id=${order.id})}" th:text="#{order.list.edit}" class="inline-block text-white bg-sky-500 hover:bg-sky-600 focus:ring-sky-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                    <form th:action="@{/orders/delete/{id}(id=${order.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button th:text="#{order.list.delete}" type="submit" class="inline-block text-white bg-red-500 hover:bg-red-600 focus:ring-red-200focus:ring-3 rounded px-2.5 py-1.5 text-sm" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
