<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="pagination()" th:if="${paginationModel != null}" class="grid grid-cols-12 mt-10">
            <nav th:if="${paginationModel.steps.size > 3}" class="col-span-8">
                <ul class="flex">
                    <li th:each="step : ${paginationModel.steps}" class="group">
                        <a th:href="${step.url}" th:text="${step.label}" class="border-y border-l group-first:rounded-l group-last:rounded-r group-last:border-r border-gray-300 py-2 px-3.5"
                                th:classappend="${(step.active ? 'bg-blue-600 text-white border-blue-600' : '') + (step.disabled ? 'pointer-events-none text-gray-400' : 'hover:bg-gray-100')}" />
                    </li>
                </ul>
            </nav>
            <div th:text="${paginationModel.elements}" th:classappend="${paginationModel.steps.size <= 3}? col-start-9" class="col-span-4 sm:text-right mt-4 sm:mt-0" />
        </div>

        <form th:fragment="searchFilter(object)" th:if="${!__${object}__s.empty || filter != null}" th:action="${T(co.innovaciones.lulo.util.WebUtils).getRequest().requestURI}" method="get" class="md:w-1/2 xl:w-1/3">
            <div class="mb-3 w-full flex flex-wrap items-stretch">
                <input type="text" name="filter" th:value="${filter == null ? '' : filter}" th:placeholder="#{__${object}__.list.filter}" class="border-gray-300 rounded-l flex-[1_1_auto]">
                <button type="submit" th:text="#{searchFilter.apply}" class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded-r px-5 py-2" />
            </div>
        </form>
    </body>
</html>
